@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits LayoutComponentBase
@inject SignOutSessionStateManager SignOutManager
<div class="page">
    <main>
            @Body
    </main>
</div>

@code {
    // Khi click Login, sẽ redirect qua Auth0 để login
    private void BeginLogin()
    {
        Navigation.NavigateTo("/authentication/login");
    }
    // Khi click Logout, sẽ đưa đến Auth0 logout rồi quay về logout-callback
    private async Task BeginLogout()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("/authentication/logout");
    }

    [Inject]
    public NavigationManager Navigation { get; set; }
}
