@using MudBlazor
@inject IDialogService DialogService

<MudDialog MaxWidth="MaxWidth.Large" FullWidth="true">
    <DialogContent>

        <div class="container">
            <div class="row gutters-sm">
                <div class="card">
                    <div class="card-header border-bottom mb-3 d-flex d-md-none">
                        <MudTabs Rounded="false" Elevation="0" Align="Center">
                            <MudTabPanel Text="" Icon="@Icons.Material.Filled.Person" />
                            <MudTabPanel Text="" Icon="@Icons.Material.Filled.CreditCard" />
                        </MudTabs>
                    </div>
                    <div class="card-body">
                        <MudTabs>
                            <MudTabPanel Text="Profile" Value="profile">
                                <h6>YOUR PROFILE INFORMATION</h6>
                                <hr />
                                <UserInfo />
                            </MudTabPanel>
                            <MudTabPanel Text="Friends" Value="friends">
                                <h6>FRIENDS SETTINGS</h6>
                                <hr />
                                <FriendManagement />
                            </MudTabPanel>
                        </MudTabs>
                    </div>
                </div>
            </div>
        </div>

    </DialogContent>

    <DialogActions>
        <MudButton Variant="Variant.Text" OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }

    void Close() => MudDialog.Close();
}
